.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

@media (max-width:768px) {
   .news {
    grid-template-columns: 1fr;
   }
} 